<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>7274037856-qu953kvbiog0tcji0hppktl0u39spdae.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.7274037856-qu953kvbiog0tcji0hppktl0u39spdae</string>
	<key>API_KEY</key>
	<string>AIzaSyAcY323z5RjHqFPkvDInmO5eOJN0_wFTy0</string>
	<key>GCM_SENDER_ID</key>
	<string>7274037856</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.quizapp</string>
	<key>PROJECT_ID</key>
	<string>quiz-d91d6</string>
	<key>STORAGE_BUCKET</key>
	<string>quiz-d91d6.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:7274037856:ios:63ee87d4f291990a7b3905</string>
</dict>
</plist>